@import "tailwindcss";
@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Orbitron;
  src: url(/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: Archivo;
  src: url("/assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf");
}

@theme {
  --font-lato: Lato, "sans-serif";
  --font-orbitron: Orbitron, "sans-serif";
  --font-archivo: Archivo, "sans-serif";
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}
